@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
}

.product {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
}

/* - Vul dit document aan met jouw eigen css! - */

.pictures {
    position: relative;
}

.model {
    width: 100%;
}

.favorite {
    position: absolute;
    top: 500px;
    right: 5px;
    width: 22px;
}

.label {
    position: absolute;
    color: #DE6127;
    background-color: #e8e8e8;
    padding: 7px 28px;
    font-size: 16px;
    font-weight: 450;
    transform: rotate(-90deg);
    left: -65px;
    top: 60px;
}

.product-label {
    color: #737373;
    font-size: 12px;
    margin: 0;
}

.title {
    font-weight: 500;
    font-size: 16px;
    margin: 3px 0;
}

.bol {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 0;
}
.bol + .bol {
    margin-left: 2px;
}

.price {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.bol:nth-child(3) {
    background-color: #faa0c7;
}

.bol:nth-child(4) {
    background-color: #272729;
}

.bol:nth-child(5) {
    background-color: #928471;
}

.bol:nth-child(6) {
    background-color: #c2c2b4;
}